# Ignore node_modules directory
node_modules/

# Ignore any files or directories that start with a dot
.*

# Ignore log files
*.log

# Ignore build output directory
build/

# Ignore IDEA folder
.idea/
